.box_style_1 { 
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: start;
}
.box_style_1 h4{ 
  width: 100%;
  text-align: center;
}
.box_style_1 a.btn_1{ 
  width: 155px;
  text-align: center;
  min-height: 100px;
  align-items: center;
  margin: 6px;
}
.box_style_1 a.btn_1 img{ 
  height: 55px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media only screen and (max-width: 1024px) { /* MOBILE */ 
  .box_style_1 a.btn_1{ 
    width: 140px; 
  }
}