.box_style_1 { 
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: start;
  position: relative;
}
.box_style_1 h4{ 
  width: 100%;
  text-align: center;
}
.box_style_1 a.btn_1{ 
  width: 155px;
  text-align: center;
  min-height: 100px;
  align-items: center;
  margin: 6px;
  position: relative;
  padding-top: 60px !important;
} 
.box_style_1 a.btn_1:nth-child(2)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/bangkok-architecture-1-1098494.png?f=webp&w=256);
  background-position: center !important;
  background-size: auto 35px !important;
  background-repeat: no-repeat !important;
  height: 35px;
  width: 35px;
  position: absolute;
  margin-top: 30px;
  content: "";
  display: flex;
  margin-left: auto;
  margin-right: auto; 
  left: 0;
  right: 0;
  top: -15px;
}


@media only screen and (max-width: 1024px) { /* MOBILE */ 
  .box_style_1 a.btn_1{ 
    width: 150px; 
  }
  .box_style_1 {   
    justify-content: center;
  }
}
@media only screen and (width: 1024px) { /* MOBILE */ 
  .box_style_1 a.btn_1{ 
    width: 160px; 
  } 
  .box_style_1 {   
    justify-content: center;
  }
}
@media only screen and (width: 768px) { /* MOBILE */ 
  .box_style_1 a.btn_1{ 
    width: 145px; 
  } 
}