.box_style_1 { 
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: start;
  position: relative;
}
.box_style_1 h4{ 
  width: 100%;
  text-align: center;
}
.box_style_1 a.btn_1{ 
  width: 155px;
  text-align: center;
  min-height: 100px;
  align-items: center;
  margin: 6px;
  position: relative;
  padding-top: 60px !important;
} 
.box_style_1 a.btn_1::after{  
  background-position: center !important;
  background-size: auto 35px !important;
  background-repeat: no-repeat !important;
  height: 35px;
  width: 35px;
  position: absolute;
  margin-top: 30px;
  content: "";
  display: flex;
  margin-left: auto;
  margin-right: auto; 
  left: 0;
  right: 0;
  top: -15px;
}
.box_style_1 a.btn_1:nth-child(2)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/bangkok-architecture-1-1098494.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(3)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/travel-journal-4082138-3386743.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(4)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/decoration-1709861-1452447.png?f=webp&w=256); 
} 
.box_style_1 a.btn_1:nth-child(5)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/cafe-shop-5116032-4266909.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(6)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/mountain-climbing-5990947-5069060.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(7)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/hotel-icon-download-in-svg-png-gif-file-formats--restaurant-lodge-building-home-stay-online-store-pack-e-commerce-shopping-icons-285445.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(8)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/travel-5690645-4764553.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(9)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/free/png-512/free-hiking-icon-download-in-svg-png-gif-file-formats--tourism-trekking-mountaineering-travel-and-holidays-pack-icons-4054469.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(10)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/dive-2591349-2163070.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(11)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/free/png-512/free-backpack-icon-download-in-svg-png-gif-file-formats--streamline-trekking-stream-line-icons-pack-appliances-448151.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(12)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/temple-10447128-8439381.png?f=webp&w=256); 
}
.box_style_1 a.btn_1:nth-child(13)::after{ 
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/waterfall-2097036-1764517.png?f=webp&w=256); 
}




















@media only screen and (max-width: 1024px) { /* MOBILE */ 
  .box_style_1 a.btn_1{ 
    width: 150px; 
  }
  .box_style_1 {   
    justify-content: center;
  }
}
@media only screen and (width: 1024px) { /* MOBILE */ 
  .box_style_1 a.btn_1{ 
    width: 160px; 
  } 
  .box_style_1 {   
    justify-content: center;
  }
}
@media only screen and (width: 768px) { /* MOBILE */ 
  .box_style_1 a.btn_1{ 
    width: 145px; 
  } 
}